h1{  
    height: 100px;
    line-height: 60px;
    margin: 10px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    text-align: center;
    color: aliceblue;
    font-size: 49pt;
}

header{
    height: 100px;
    background-color: #f7b1bf;
}
#osito{
    color: #3e3536;
    text-align:center;
}
#chato{
    text-align: center;
}
.barrarosita{
     accent-color :#f7b1bf;
}
.iconos{
    color: rgb(0, 0, 0);
}
div.entrada{
    text-align: center;
    margin: 0px 30%;
    border: 1px solid;
    border-color: rgb(49, 40, 40);
    border-radius: 20px;/*Redondea las esquinas*/
    background-color: antiquewhite;
}
body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/016/330/187/non_2x/realistic-peach-blossom-background-free-vector.jpg);
    background-size: 100%;
    margin: 0;
}
p{
    background-color: aliceblue;
}
